@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --blanco: #fff;
    --negro: #000;
    --primario: #723185;
    --segundario: #000;
    --gris: #757575;
    --rojp: #FE90AA;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    width:100%;
}

footer{
    width: 100%;
    height: 200px;
    background: #8a6587;
    text-align: center;
}
/*--------------------------------------------------------- nav------------------------------------------------------------------*/

.navegador {
    background-color:var(--primario);
    display: flex;
    justify-content: space-between;
}


.navegador h2{
    padding-left: 10px;
    color: #fff;
}
.navegador #icono{
    padding-top: 30px;
}

.navegador #burrito-imagen{
    display:flex;
    height: 100px;
    width: 100px;
}

.navegador #burrito-imagen :hover{
    background-color: #9944b3;
    border-radius: 25%;
}

.navegador img{
    height: 100px;
}

/*---------------------------------------------------------parte 1------------------------------------------------------------------*/

.deposito-division1{
    height: 820px;
    width: 100%;
    margin-top: 30px;
}

.division1{
    margin: 0 100px 0 100px;
    display:flex;
}

.division1-texto{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.division1-imagen{
    width: 50%;
    text-align: center;
}

.division1-imagen img{
    height: 750px;
    border-radius: 100px;
}

.division1-texto #titulo{
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
    width: 600px;
    height: 300px;
    position: relative;
    top: 50px;
    right: 50px;
    border-radius: 0 50px 50px 0;
    background-color:var(--primario) ;
}

.division1-texto #titulo h1{
    font-size: 15rem;
}

.division1-texto #titulo h2{
    font-size: 4rem;
}

.division1-texto #lore{
    padding: 100px 100px 0;
    font-size: 20px;
    text-align: left;
    position: relative;
    bottom: 50px;
}

/*---------------------------------------------------------parte 2------------------------------------------------------------------*/

.division2-deposito{
    text-align: center;
    width: 100%;
    height: 750px;
}

.division2{
    width: 1140px;
    height: auto;
    display: flex;
    margin-left: 170px;
    margin-right: 170px;
    flex-wrap: wrap;
    flex-direction: row;
}

.division2 .deposito-img{
    height: 100%;
    width: 50%;
}

.division2 .deposito-img #img1{
    height: 700px;
    width: auto;
    border-radius: 100px;
    border:#000;
    border-style: dashed;
}

.division2 .deposito-img #img2{
    height: 150px;
    width: auto;
    position: relative;
    bottom: 750px;
    left: 250px;
}

.division2 .deposito-texto{
    text-align: left;
    height: 100%;
    width: 50%;
    overflow-wrap: break-word; 
}

.deposito-texto-burrito{
    padding: 30px 59px;
    margin: 0;
}

.deposito-texto-burrito h2{
    font-weight: 700;
    font-size: 5rem;
    margin: 35px auto 0 1px;
}

.deposito-texto-burrito #frase{
    color: #858585;
    padding-top: 5%;
    font-size: 2rem;
}

.deposito-texto-burrito #lore{
    font-size: 2rem;
}

/*---------------------------------------------------------parte 3------------------------------------------------------------------*/



.division3-deposito{
    background: #EEEEEE;
    height: 850px;
    width: 100%;
}

.division3{
    padding: 50px 170px 70px 170px;
}

.division3 h2{
    font-weight: 700;
    font-size: 7rem;
    height: 100%;
    margin: 0 auto 0 1px;
}

.division3 .info-burrito{
    display: flex;
    height: 610px;
    margin-top: 50px;
}

.gojo-deposito{
    width: 50%;
    padding: 30px
}

.sukuna-deposito{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.gojo-deposito p{
    margin-top: 50px
}

.gojo-deposito #img-gojo{
    width: 350px;
    margin-left: auto;
    height: auto;
    border-radius: 30px;
}

.sukuna-deposito #img-sukuna{
    width: 350px;
    height: auto;
    border-radius: 30px;
    margin: 30px auto 0 0;
}

/*---------------------------------------------------------parte 4------------------------------------------------------------------*/

.division4-deposito{
    height: 625px;
    width: 100%;
}

.division4{
    margin: 0 170px 0 170px;
}

.division4-titulo{
    padding: 40px 0 10px 0;
    font-size: 3rem;
}

.division4-imagenes{
    display: flex;
    justify-content: space-around;
    width: 1140px;
    margin-top: 30px;
    margin-bottom: 25px; 
}

.division4-imagenes img{
    height: 274px;
    width: auto;
}

.division4-texto{
    text-align: center;
}

.division4-botoncito{
    display: flex;
}

.division4-botoncito span{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 75px;
    margin: 30px auto 60px auto;
    background: var(--primario);
    border-radius: 40px;
}

.division4-botoncito button{
    border: none;
    color: #fff;
    background: none;
    font-size: 2rem;
}

.division4-botoncito span :hover{
    width: 300px;
    height: 75px;
    background-color: #9944b3;
    border-radius:40px;
}

/*
.division4-deposito{
    display: inline-block;
    text-align: center;
    position: relative;
    right: 200px;
    width: 100%;
    height: 850px;

}

.division4-titulo{
    left: 300px;
    top: 50px;
    font-size: 20px;
    word-wrap: break-word;
}



.division4 img{
    height: 400px;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: 150px;
    position: relative;
    left: 250px;
    top: 100px;
}

.division4 h3{
    position: relative;
    width: 500px;
    left: 650px;
}

.division4 p{
    position: relative;
    left: 300px;
    width: 500px;
    margin: 10px 500px;
}
*/

 /*---------------------------------------------------------parte 5------------------------------------------------------------------*/

#desc2{
    top: 80px;
    width: 700px;
    position: relative;
    left: 100px;
}


.division5{
    display: flex;
    align-items: center;
    background-color: var(--gris);
    text-align:center;
    border-radius:10px;
    justify-content: center;
    background: #EEEEEE;
}

.division5 img{
    height: 400px;
    width: 350px;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: 150px;
    position: relative;
    top: 100px;
}

.division5 p {
    position:relative;
}

.division5 #yuta {
    width: 300px;
    left: 100px;
}

.division5 #abogado {
    width: 300px;
    left: 100px;
}

.division5 #itadori {
    width: 300px;
    left: 100px;
}


.division5 #kashimo {
    right: 300px;
    width: 300px;
    left: 100px;
}


.division5 #hakari {
    width: 300px;
    left: 100px;
}

.division5 #angel {
    width: 300px;
    left: 100px;
}



.division5 h2{
    bottom: 200px;
    font-size: 30px
    ;
}


