@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --blanco: #fff;
    --negro: #000;
    --primario: #723185;
    --segundario: #000;
    --gris: #757575;
    --rojp: #FE90AA;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    width:100%;
}
/*--------------------------------------------------------- nav------------------------------------------------------------------*/

.navegador {
    background-color:var(--primario);
    display: flex;
    justify-content: space-between;
}


.navegador h2{
    padding-left: 10px;
    color: #fff;
}
.navegador #icon{
    padding-top: 30px;
    align-items: center;
}

.navegador #icon :hover{
    background-color: #fff;
    color: var(--primario);

}

.navegador img{
    height: 100px;
}

/*---------------------------------------------------------parte 1------------------------------------------------------------------*/

.division1{
    text-align: center;
    margin-bottom: 100px;
}

.division1 div {
    display: inline-block;
    width: 600px;
    height: 300px;
    border-radius: 0 50px 50px 0 ; 
    margin-top: 20px;
}

.division1 h1 {
    color: #fff;
    font-size:150px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.division1 h2{
    color: #fff;
}

.division1 p {
    position: relative;
    left: 100px;
    top: 100px;
    font-size: 20px;
    text-align: left;
}

.division1 .div1{
    margin-top: 400px;
    position: relative;
    right: 100px;
    bottom: 300px;
    background-color:var(--primario) ;
}

.div2{
    position: relative;
    bottom: 300px;
}

.division1 .div2 img{
    height: 750px;
    width: max-content;
    position: relative;
    top: 300px;
    border-radius: 100px;
}

/*---------------------------------------------------------parte 2------------------------------------------------------------------*/

.division2-deposito{
    text-align: center;
    width: 100%;
    height: 850px;
}

.division2{
    width: 1140px;
    height: auto;
    display: flex;
    margin-left: 170px;
    margin-right: 170px;
    flex-wrap: wrap;
    flex-direction: row;
}

.division2 .deposito-img{
    height: 100%;
    width: 50%;
}

.division2 .deposito-img img{
    height: 700px;
    width: auto;
    border-radius: 100px;
}

.division2 .deposito-texto{
    text-align: left;
    height: 100%;
    width: 50%;
    overflow-wrap: break-word; 
}

.deposito-texto-burrito{
    padding: 30px 59px;
    margin: 0;
}

.deposito-texto-burrito h2{
    font-weight: 700;
    font-size: 3rem;
    margin: 35px auto 0 1px;
}

/*
.division2 div{
    display: inline-block;
    width: 400px;
    height: 200px;
    margin: 50px 120px;
    border-radius: 10px; 
}

.division2 img{
    height: 400px;
    position: relative;
    border-radius: 100px;
    bottom: 400px;
    right: 150px;
}

.division2 h2 {
    font-size: 6rem;
    position: relative;
    margin-bottom: 400px;
    margin-top: 20px;
}

.division2 p {
    position: relative;
    bottom: 300px;
    font-size: 2rem;
}
*/
/*---------------------------------------------------------parte 3------------------------------------------------------------------*/

.division3{
    text-align:center;
    height:700px;
    border-radius:10px;
    background: #EEEEEE;
    padding-bottom: 1200px;
}

.division3 h2{
    position: relative;
    right: 600px;
    font-size: 20px;
}

.division3 h3{
    position: relative;
    width: 500px;
    height: 200px;
}

.division3 div{
display: inline-block;
position: relative;
right: 200px;
}

.division3 img{
    position: relative;
    left: 150px;
    height: 450px;
    border-radius: 50px;
    margin-right: 180px;
    margin-left: 180px;
}

.division3 #sukunadesc {
    left: 350px;
    top: 100px;
}

.division3 #Lavelada{
    top:60px;
    font-size: 70px;
}

.division3 #gojodesc{
    left:350px;
    top:50px;
}

.division3 #sukunadesc{
    top:50px;
}


.division3 #gojo {
top: 20px;
}

.division3 #sukuna {
 top: 230px;
}


    /*---------------------------------------------------------parte 4------------------------------------------------------------------*/

.division4-deposito{
    display: inline-block;
    text-align: center;
    position: relative;
    right: 200px;
    width: 100%;
    height: 850px;

}

.division4-titulo{
    left: 300px;
    top: 50px;
    font-size: 20px;
    word-wrap: break-word;
}



.division4 img{
    height: 400px;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: 150px;
    position: relative;
    left: 250px;
    top: 100px;
}

.division4 h3{
    position: relative;
    width: 500px;
    left: 650px;
}

.division4 p{
    position: relative;
    left: 300px;
    width: 500px;
    margin: 10px 500px;
}

    /*---------------------------------------------------------parte 5------------------------------------------------------------------*/

    #desc2{
        top: 80px;
        width: 700px;
        position: relative;
        left: 100px;
    }


.division5{
    display: flex;
    align-items: center;
    background-color: var(--gris);
    text-align:center;
    border-radius:10px;
    justify-content: center;
    background: #EEEEEE;
}

.division5 img{
    height: 400px;
    width: 350px;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: 150px;
    position: relative;
    top: 100px;
}

.division5 p {
    position:relative;
}

.division5 #yuta {
    width: 300px;
    left: 100px;
}

.division5 #abogado {
    width: 300px;
    left: 100px;
}

.division5 #itadori {
    width: 300px;
    left: 100px;
}


.division5 #kashimo {
    right: 300px;
    width: 300px;
    left: 100px;
}


.division5 #hakari {
    width: 300px;
    left: 100px;
}

.division5 #angel {
    width: 300px;
    left: 100px;
}



.division5 h2{
    bottom: 200px;
    font-size: 30px
    ;
}
